{% extends 'web/layout.html' %}

{% block extra_head %}
{% endblock %}


  {% block content %}

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <section class="py-5 text-center container" >
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Servicio de impresión</h1>
            <p class="lead text-body-secondary">Bienvenidos al Servicio de Impresión de la Universidad de las Ciencias Informáticas</p>
          </div>
        </div>
      </section>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for d in documentos %}
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-title text-right">
            </div>
            <div class="card-body">
              <h6 class="card-title text-end">{% if d.estado == 'p' %}
                <span class="badge bg-danger">Pendiente</span>
                {% else %}
                <span class="badge bg-success">Impreso</span>
                {% endif %}</h6>
              <h5 class="card-text">
                <i class="bi bi-file-earmark-pdf"></i> {{d.titulo}}
              </h5>
              <h6 class="my-3">
                Local: {{d.impresora.local}}
              </h6>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/media/{{ d.archivo }}" target="_blank" class="btn btn-sm btn-outline-secondary">Ver</a>

                </div>
                <small class="text-body-secondary">{{d.fecha_subida}}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% endblock %}

{% block extra_js %}
{% endblock %}




