{% extends 'web/layout.html' %}

{% block extra_head %}
{% endblock %}


{% block content %}

<div class="album py-5 bg-body-tertiary">
    <div class="container">


        <div class="card">
            <form action="{% url 'imprimir' 0 %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <h5 class="card-header">Subida del documento</h5>
                <div class="card-body">
                    <div class="row g-5 mb-3">
                        <div class="col">
                            <input type="number" name="numero_copias" class="form-control" required
                                placeholder="Cantidad de Copias" aria-label="First name">
                        </div>


                        <div class="col">
                            <select class="form-select" aria-label="Default select example" name="impresora" required>
                                <option value="">Seleccionar Impresora</option>
                                {% for imp in impresoras %}
                                <option value="{{imp.id}}">{{imp.nombre}} con {{imp.cola}} documentos</option>
                                {% endfor %}
                            </select>
                            Información de la impresora: <a href="{% url 'locales' %}">Locales de recogida</a>

                        </div>
                    </div>
                    <div class="row">
                    <div class="col">Opciones:</div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="form-check form-control-lg form-switch">
                                <input class="form-check-input" type="checkbox" name="doscaras" value="doscaras"
                                    id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Tiro y Retiro</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-check form-control-lg form-switch">
                                <input class="form-check-input" type="checkbox" name="color" value="color"
                                    id="flexSwitchCheckDefault1" checked>
                                <label class="form-check-label" for="flexSwitchCheckDefault1"> A Color</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Documento a imprimir:</label>
                        <input class="form-control" type="file" id="formFile" name="document" required>
                    </div>
                </div>
                <div class="card-footer text-end">
                    <button type="submit" class="btn btn-primary">Subir</button>
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock %}

{% block extra_js %}
{% endblock %}