{% extends 'layout.html' %}
{% load widget_tweaks %}
{% block extra_head %}
{% endblock %}


{% block content %}

<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'lista_locales' %}">Locales</a></li>
            <li class="breadcrumb-item active">Agregar</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">
        <!-- templates/gestion_impresoras/agregar_impresora.html -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Agregar Local</h5>

                <!-- General Form Elements -->
                <form method="post">
                    {% csrf_token %}

                    {{ form.non_field_errors }}

                    {% for field in form %}
                    <div class="campo-formulario">


                        {% if field.errors %}
                        <label  class="form-label mt-2">{{ field.label }}: </label>
                         {{ field|add_class:'is-invalid' }}
                        {% for error in field.errors %}
                        <div class="invalid-feedback mb-2">
                            {{ error }}
                        </div>

                        {% endfor %}
                        {% else %}
                        <label  class="form-label mt-2">{{ field.label }}: </label> {{ field }}
                        {% endif %}
                    </div>
                    {% endfor %}


                    <div class="row mt-4">
                        <div class="col-sm-6">
                            <a class="btn btn-secondary" href="{% url 'lista_locales' %}">Cancelar</a>
                        </div>
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary float-end">Editar Local</button>
                        </div>
                    </div>

                </form><!-- End General Form Elements -->

            </div>
        </div>

    </div>
</section>


{% endblock %}

{% block extra_js %}
{% endblock %}