  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar" >

    <ul class="sidebar-nav" id="sidebar-nav" >

      <li class="nav-item ">
        <a class="nav-link bg-dark-subtle {% if request.path == '/home/' %} active {% endif %}" href="{% url 'home' %}">
          <i class="bi bi-grid"></i>
          <span>Inicio</span>
        </a>
      </li><!-- End Dashboard Nav -->

<!--      <li class="nav-item">-->
<!--        <a class="nav-link collapsed bg-dark-subtle" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">-->
<!--          <i class="bi bi-menu-button-wide"></i><span>Components</span><i class="bi bi-chevron-down ms-auto"></i>-->
<!--        </a>-->
<!--        <ul id="components-nav" class="nav-content collapse " >-->
<!--          <li>-->
<!--            <a href="components-alerts.html">-->
<!--              <i class="bi bi-circle"></i><span>Alerts</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="components-accordion.html">-->
<!--              <i class="bi bi-circle"></i><span>Accordion</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="components-badges.html">-->
<!--              <i class="bi bi-circle"></i><span>Badges</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="components-breadcrumbs.html">-->
<!--              <i class="bi bi-circle"></i><span>Breadcrumbs</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="components-buttons.html">-->
<!--              <i class="bi bi-circle"></i><span>Buttons</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="components-cards.html">-->
<!--              <i class="bi bi-circle"></i><span>Cards</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="components-carousel.html">-->
<!--              <i class="bi bi-circle"></i><span>Carousel</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="components-list-group.html">-->
<!--              <i class="bi bi-circle"></i><span>List group</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="components-modal.html">-->
<!--              <i class="bi bi-circle"></i><span>Modal</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="components-tabs.html">-->
<!--              <i class="bi bi-circle"></i><span>Tabs</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="components-pagination.html">-->
<!--              <i class="bi bi-circle"></i><span>Pagination</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="components-progress.html">-->
<!--              <i class="bi bi-circle"></i><span>Progress</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="components-spinners.html">-->
<!--              <i class="bi bi-circle"></i><span>Spinners</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="components-tooltips.html">-->
<!--              <i class="bi bi-circle"></i><span>Tooltips</span>-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </li>&lt;!&ndash; End Components Nav &ndash;&gt;-->

      <li class="nav-item">
        <a class="nav-link collapsed bg-dark-subtle" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Locales</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse {% if request.path == '/locales/' or request.path == '/locales/agregar/'  %} show {% endif %}" >
          <li>
            <a href="{% url 'lista_locales' %}" class="{% if request.path == '/locales/' %} active text-primary {% endif %}">
              <i class="bi bi-list" style="font-size: 20px" ></i><span>Listar Locales</span>
            </a>
          </li>
          <li>
            <a href="{% url 'agregar_local' %}" class="{% if request.path == '/locales/agregar/' %} active text-primary {% endif %}">
              <i class="bi bi-plus" style="font-size: 20px"></i><span>Agregar Locales</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item ">
        <a class="nav-link collapsed bg-dark-subtle " data-bs-target="#components-nav-impresora" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Impresoras</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav-impresora" class="nav-content collapse {% if request.path == '/impresoras/' or request.path == '/impresoras/agregar/'  %} show {% endif %}" >
          <li>
            <a href="{% url 'lista_impresoras' %}" class="{% if request.path == '/impresoras/' %} active text-primary {% endif %}">
              <i class="bi bi-list" style="font-size: 20px" ></i><span>Listar Impresoras</span>
            </a>
          </li>

          <li>
            <a href="{% url 'agregar_impresora' %}" class="{% if request.path == '/impresoras/agregar/' %} active text-primary {% endif %}">
              <i class="bi bi-plus" style="font-size: 20px"></i><span>Agregar Impresoras</span>
            </a>
          </li>
        </ul>
      </li>


      <!-- End Components Nav -->




    </ul>

  </aside><!-- End Sidebar-->