{% load static %}
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center justify-content-between" >

    <div class="d-flex align-items-center justify-content-start">

      <a href="{% url 'home' %}" class="logo d-flex align-items-center">
        <img src="{% static 'img/icon.png' %}" alt="" width="40px">
        <span class="d-none d-lg-block mx-3"> Local Impresión</span>
      </a>

    </div><!-- End Logo -->

    <div class="d-flex">

        <i class="bi bi-list toggle-sidebar-btn "></i>
    </div>

    <nav class="header-nav ms-auto" data-bs-theme="dark">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->


        <li class="nav-item dropdown pe-3">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
             aria-expanded="false">{{user}}</a>
          <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="{% url 'perfil' %}">Perfil</a></li>
              {% if user.is_staff %}
                  <li><a class="dropdown-item" href="{% url 'dashboard' %}">Administración</a></li>
              {% endif %}
              <li>
                  <hr class="dropdown-divider">
              </li>
              <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
              <li><button class="dropdown-item" type="submit">Salir</button></li>
              </form>
          </ul>
      </li>
      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->
