{% extends 'layout.html' %}

{% block extra_head %}
{% endblock %}


{% block content %}


<div class="pagetitle">
  <h1>Administración</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Administración</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
  <div class="row">

    <!-- Left side columns -->
    <div class="col-lg-8">
      <div class="row">

        <!-- Sales Card -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card sales-card">
            <div class="card-body">
              <h5 class="card-title">Documentos</h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-file-pdf"></i>
                </div>
                <div class="ps-3">
                  <h6>{{documentos}}</h6>
                  <!-- <span class="text-success small pt-1 fw-bold">12%</span> <span
                    class="text-muted small pt-2 ps-1">increase</span> -->

                </div>
              </div>
            </div>

          </div>
        </div><!-- End Sales Card -->

        <!-- Revenue Card -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card revenue-card">

            <div class="card-body">
              <h5 class="card-title">Usuarios</span></h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-people"></i>
                </div>
                <div class="ps-3">
                  <h6>{{users}}</h6>
                  <!-- <span class="text-success small pt-1 fw-bold">8%</span> <span
                    class="text-muted small pt-2 ps-1">increase</span> -->

                </div>
              </div>
            </div>

          </div>
        </div><!-- End Revenue Card -->

        <!-- Customers Card -->
        <div class="col-xxl-4 col-xl-12">

          <div class="card info-card customers-card">

            <div class="card-body">
              <h5 class="card-title">Locales</h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-building"></i>
                </div>
                <div class="ps-3">
                  <h6>{{locales}}</h6>
                  <!-- <span class="text-danger small pt-1 fw-bold">12%</span> <span
                    class="text-muted small pt-2 ps-1">decrease</span> -->

                </div>
              </div>

            </div>
          </div>

        </div><!-- End Customers Card -->

        <!-- Reports -->
        <div class="col-12">
          <div class="card">

            <div class="card-body">
              <h5 class="card-title">Documentos <span>Estadisticas</span></h5>

              <!-- Line Chart -->
              <div id="reportsChart"></div>

              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new ApexCharts(document.querySelector("#reportsChart"), {
                    series: [
                      {
                        name: 'Documentos',
                        data: [
                          {
                            x: 'Impresos',
                            y: '{{lista.impresos}}',
                            goals: [
                              {
                                name: 'Documentos impresos',
                                value: '{{lista.impresos}}',
                                strokeWidth: 2,
                                strokeDashArray: 2,
                                strokeColor: '#775DD0'
                              }
                            ]
                          },
                          {
                            x: 'Pendientes',
                            y: '{{lista.pendientes}}',
                            goals: [
                              {
                                name: 'Documentos pendientes',
                                value: '{{lista.pendientes}}',
                                strokeWidth: 5,
                                strokeHeight: 10,
                                strokeColor: '#775DD0'
                              }
                            ]
                          },
                        ]
                      }
                    ],
                    chart: {
                      height: 350,
                      type: 'bar',
                    },
                    markers: {
                      size: 6
                    },
                    fill: {
                      type: "gradient",
                      gradient: {
                        shadeIntensity: 1,
                        opacityFrom: 0.3,
                        opacityTo: 0.4,
                        stops: [0, 90, 100]
                      }
                    },
                    dataLabels: {
                      enabled: true
                    },
                    stroke: {
                      curve: 'smooth',
                      width: 2
                    },
                  }).render();
                });
              </script>
              <!-- End Line Chart -->

            </div>

          </div>
        </div><!-- End Reports -->


      </div>
    </div><!-- End Left side columns -->

    <!-- Right side columns -->
    <div class="col-lg-4">

      <!-- Recent Activity -->
      <div class="card" style="height: 100vh; overflow-y: auto;">
        <div class="card-body">
          <h5 class="card-title">Historial <span>| Documentos</span></h5>

          <div class="activity">

            {% for log in logs %}
            <div class="activity-item d-flex">
              <div class="activite-label" style="padding-right: 8px;">{{ log.action_time|date:"Y-m-d" }}</div>
              <i
                class='bi bi-circle-fill activity-badge {% if log.is_addition %}text-success{% endif %}{% if log.is_change %}text-warning{% endif %}{% if log.is_deletion %}text-danger{% endif %} align-self-start'></i>
              <div class="activity-content">
                {{ log }}
              </div>
            </div><!-- End activity item-->
            {% endfor %}

          </div>

        </div>
      </div><!-- End Recent Activity -->
    </div><!-- End Right side columns -->

  </div>
</section>

{% endblock %}

{% block extra_js %}
{% endblock %}