{% extends 'auth.html' %}

{% block extra_head %}
{% endblock %}

{% block form %}
 <div class="card-body">

                  <div class="pt-1 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Login</h5>
                    <p class="text-center small">Ingrese su nombre de usuario y contraseña para iniciar sesión</p>
                  </div>

                  <form class="row g-3 needs-validation" method="post" novalidate>
                    {% csrf_token %}

                    <div class="col-12">
                      <label for="{{ form.username.id_for_label }}" class="form-label">Usuario</label>
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                          <input type="text" name="{{ form.username.name }}" class="form-control" id="yourUsername" required>
                        <div class="invalid-feedback">Por favor entre su Usuario.</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="{{ form.password.id_for_label }}" class="form-label">Contraseña</label>
                      <input type="password" name="{{ form.password.name }}" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Por favor entre su Contraseña!</div>

                    </div>
<!--                        {% if form.username.errors %}-->
<!--                            {% for error in form.username.errors %}-->
<!--                                <div class="alert alert-danger">{{ error }}</div>-->
<!--                            {% endfor %}-->
<!--                        {% endif %}-->
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <strong>Por favor, corrige los siguientes errores:</strong>
                            {{ form.non_field_errors }}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endif %}
<!--                    <div class="col-12">-->
<!--                      <div class="form-check">-->
<!--                        <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">-->
<!--                        <label class="form-check-label" for="rememberMe">Remember me</label>-->
<!--                      </div>-->
<!--                    </div>-->
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Iniciar sesión</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">¿No tienes cuenta? <a href="{% url 'register' %}">Crea una cuenta</a></p>
                    </div>
                  </form>

                </div>
{% endblock %}

{% block extra_js %}

{% endblock %}
